<!DOCTYPE html>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/eams.area.data.js"></script>
<script src="../static/js/eams.area.js"></script>
<!--<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css"-->
<!--      integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">-->

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->

<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/jumbotron-narrow.css">
    <title>自动填报系统</title>
</head>
<body>
<div class="container">
    <div class="header clearfix" style="    margin-bottom: 0;">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="/login">修改已登记账号</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">疫情自动填报</h3>
    </div>

    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Register your account</h2>
        <label for="account" class="sr-only">学号</label>
        <input class="form-control" type="text" id="account" required="required" placeholder="Account" autofocus>

        <label for="password" class="sr-only">密码</label>
        <input class="form-control" type="password" id="password" required="required" placeholder="Password">

        <div class="radio">
            <label>
                <input type="radio" name="szcsbm" id="inSchool">
                在学校
            </label>
        </div>


        <div class="radio">
            <label>
                <input type="radio" name="szcsbm" id="inXian" value="2" onclick="changeWz(2)">
                在西安（租住校内房屋或住在校外的学生）
            </label>
        </div>

        <div class="radio">
            <label for="inNation">
                <input type="radio" name="szcsbm" id="inNation" value="3" onclick="changeWz(3)">
                在国内（西安市以外的其他国内地区）
            </label>
        </div>

        <div class="form-group" id="qtwz" style="display: none;margin-top: 0;">
            <select id="province" onchange="changeSelect(this);">
                <option value="">-省-</option>
            </select>
            <select id="city" onchange="changeSelect(this);">
                <option value="">-市-</option>
            </select>
            <select name="hjbm" id="district">
                <option value="">-区/县-</option>
            </select>
        </div>
        <input class="btn btn-primary" type="button" onclick="mySubmit()" value="submit">
    </form>
</div>

<footer>
    <div class="contact">
        <h3>CONTACT ME</h3>
        <div class="info-box">
            <a href="https://github.com/dake0805/AutoYqtb">
                <img src="http://placehold.it/40x40" alt="">
                GitHub
            </a>
        </div>
        <div class="info-box">
            <a href="mailto:dake0805@qq.com">
                <img src="http://placehold.it/40x40" alt="">
                Mail
            </a>
        </div>
    </div>
    <div class="copyright">
        <br>免责声明<br>
    </div>
</footer>

</body>
</html>

<script>
    initSeletList();
</script>

<script>
    function changeWz(num) {
        if (num == '3' || num == '4') {
            $("#qtwz").show();
            $("input[name='sfmtbg'][value='0']").attr('checked', 'true');
            if (num == '3') {
                $("#province").show();
                $("#city").show();
                $("#district").show();
                $("#gwcs").hide();
                $("#gwcs").val("");
            } else {
                $("#province").hide();
                $("#city").hide();
                $("#district").hide();
                $("#gwcs").show();

            }

        } else {
            $("#qtwz").hide();
            $("#gwcs").val("");
        }
    }

</script>


<script>
    function mySubmit() {
        console.log("submit")
        beforeSubmit()
        let data = {
            "account": $("#account").val(),
            "password": $("#password").val(),
            "locationCode": szcsbm,
            "locationName": szcsmc,
            "inSchool": $("#inSchool").is(":checked")
        }
        if (!ok) return;
        $.ajax({
            type: "POST",
            url: "/new",
            data: data,
            dataType: "text",
            success: function (resp) {
                alert(resp)
            }
        });
    }

    let szcsbm = "";
    let szcsmc = "";
    let ok = true;

    function beforeSubmit() {
        ok = true;

        let account = $("#account").val();
        if (account == undefined || account == null || account == '') {
            alert("account can't be empty.");
            ok = false;
            return;
        }

        let password = $("#password").val();
        if (password == undefined || password == null || password == '') {
            alert("password can't be empty.");
            ok = false;
            return;
        }

        szcsbm = $("input[name='szcsbm']:checked").val();
        if (szcsbm == undefined || szcsbm == '') {
            alert("请选择您当前所在的位置！");
            ok = false;
            return;
        }
        szcsmc = "在学校";
        if (szcsbm == '2') {
            szcsmc = "在西安";
        } else if (szcsbm == '3') {
            szcsbm = $("#district").val();
            if ($('#district').css('display') == 'none') {
                var city = $("#city").val();
                if (city == "") {
                    alert("请选择当前所在省市！");
                    ok = false;
                    $("#city").focus();
                    return;
                }
                szcsbm = city + "00";
            } else {
                if (szcsbm == "") {
                    alert("请选择当前所在省市区/县！");
                    ok = false;
                    $("#district").focus();
                    return;
                }
            }
            szcsmc = $('#province option').not(function () {
                return !this.selected;
            }).text();
            szcsmc += $('#city option').not(function () {
                return !this.selected;
            }).text();
            if ($('#district').css('display') != 'none') {
                szcsmc += $('#district option').not(function () {
                    return !this.selected;
                }).text();
            }
        }
    }
</script>