<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
云疫情填报
<form method="post">
    <label>
        account:<input type="text" name="account" required="required"><br><br>
        password:<input type="password" name="password" required="required"><br><br>
        location:(XX省XX市)(要选西安市的别用，没做，选的是其他)<input type="text" name="location" required="required"><br><br></label>
    <input type="submit" value="Submit">
</form>
<br><br>
<a href="https://github.com/dake0805/AutoYqtb">github</a>
</body>
</html>