<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
云疫情填报
<form method="post">
    <label>
        account:<input type="text" name="account" required="required"><br><br>
        password:<input type="password" name="password" required="required"><br><br>
        省<input type="text" name="province" placeholder="XX省"><br>
        市<input type="text" name="city" placeholder="XX市"><br>
        区<input type="text" name="district" placeholder="XX区"><br>

        <br>我在学校（填报时地点选择是 在学校）<input type="checkbox" name="inschool"><br>
        <br></label>

    <input type="submit" value="Submit">
</form>

<br><br>
<a href="https://github.com/dake0805/AutoYqtb">github</a>
<br>有疑问？
<a href="mailto:dake0805@qq.com">dake0805@qq.com</a><br>
<br>仅供学习<br>
</body>
</html>